* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(209, 178, 231);
}

.nav {
    background-color: rgb(86, 35, 86);
    color: white;
    font-family: cursive;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    gap: 20px;
}

.boxes {
    background-color: yellow;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 10vw;
    font-family: cursive;
    font-weight: bolder;
    font-size: 7vw;
    border: solid 3px black;
    cursor: pointer;
    background-color: skyblue;
}


.box:hover {
    background-color: purple;
}

#resetBtn {
    background-color: pink;
    cursor: pointer;
    font-family: cursive;
    font-size: 1vw;
    border: 3px solid purple;
    width: 5vw;
    height: 5vh;
    font-weight: bold;
    border-radius: 40px;
}

#resetBtn:hover {
    background-color: red;
}

#win-img {
    width: 10vw;
    height: 15vh;
}

.hide {
    display: none;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bt-0 {
    border-top: 0;
}